:root {
  --mm-blue-hue: 240;
  --mm-red-hue: 360;

  --mm-black: hsl(var(--mm-blue-hue) 0% 20%);
  --mm-black-lighter: hsl(var(--mm-blue-hue) 0% 40%);
  --mm-light-red: hsl(var(--mm-red-hue) 76% 60%);
  --mm-dark-red: hsl(var(--mm-red-hue) 76% 55%);
  --mm-blue: hsl(var(--mm-blue-hue) 48% 55%);
  --mm-pale-blue: hsl(var(--mm-blue-hue) 40% 60%);
  --mm-white: hsl(var(--mm-blue-hue) 1% 100%);
  --mm-plex-color: hsl(41 100% 25%);
  --mm-plex-highlight-color: hsl(41 100% 30%);
  --mm-line-color: hsl(var(--mm-blue-hue) 22% 90%);
  --mm-success-color: hsl(110 40% 40%);
  --mm-failure-color: hsl(var(--mm-red-hue) 50% 50%);
  --mm-add-color: hsl(var(--mm-blue-hue), 46%, 82%);
  --mm-add-highlight-color: hsl(var(--mm-blue-hue), 76%, 90%);
  --mm-remove-color: hsl(var(--mm-red-hue), 56%, 72%);
  --mm-remove-highlight-color: hsl(var(--mm-red-hue), 59%, 84%);

  --s1: 0.25rem; /* 4px */
  --s2: 0.5rem; /* 8px */
  --s3: 1rem; /* 16px */
  --s4: 1.5rem; /* 24px */
  --s5: 2rem; /* 32px */
  --s6: 2.5rem; /* 40px */
  --s7: 3rem; /* 48px */
  --s8: 3.5rem; /* 56px */
  --s9: 4rem; /* 64px */

  --z-far: 0;
  --z-normal: 1;
  --z-near: 2;
  --z-modal: 3;

  --mm-transition-duration: 100ms;

  --vh: 1vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  background: linear-gradient(
    135deg,
    hsl(var(--mm-blue-hue) 26% 80%) 0%,
    hsl(var(--mm-blue-hue) 22% 90%) 100%
  );
  background-size: cover;
  color: var(--mm-black);
  min-height: calc(var(--vh) * 100);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Helvetica Neue", system-ui, Helvetica, sans-serif;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body:not(.show-focus-ring) *:focus {
  outline: none;
}

* {
  font-family: inherit;
}
