.AddRemoveList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.AddRemoveList_Item {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  gap: 0.5rem;
  grid-template-columns: 1fr 7rem;
}

.AddRemoveList_Item:nth-of-type(n + 2) {
  margin-top: var(--s4);
}

.AddRemoveList_Item_Controls {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  grid-template-columns: 3rem 3rem;
}

.AddRemoveList_Subtract,
.AddRemoveList_Add {
  width: 3rem;
  min-height: 3rem;
  height: 100%;
  border: 2px solid var(--mm-black);
  border-radius: 5px;
  padding: 0;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color var(--mm-transition-duration) ease-in-out;
}

.AddRemoveList_Subtract {
  background: var(--mm-remove-color);
}

.AddRemoveList_Add {
  background: var(--mm-add-color);
  grid-column: 2;
}

@media (hover: hover) {
  .AddRemoveList_Subtract:hover {
    background: var(--mm-remove-highlight-color);
  }
  .AddRemoveList_Add:hover {
    background: var(--mm-add-highlight-color);
  }
}
