.AutoSuggestInputContainer {
  width: 100%;
  border: 2px solid var(--mm-black);
  background-color: transparent;
  border-radius: var(--s1);
  padding: var(--s2);
  box-shadow: none;
  display: flex;
  flex-direction: column;
}

.AutoSuggestInputSelections {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--s1);
}

.AutoSuggestInputSelectionsDelimiterLabel {
  font-size: 0.8rem;
  color: var(--mm-black);
  font-weight: bold;
}

.AutoSuggestInput {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--mm-black);
  border-radius: 0;
  margin: 0;
  padding: 0;
  margin-top: var(--s1);
}

.AutoSuggestSuggestions {
  background-color: var(--mm-black);
  border: 1px solid var(--mm-white);
  border-radius: var(--s1);
  padding: var(--s1);
  margin: 0;
  z-index: var(--z-near);
  min-width: 8rem;
}

.AutoSuggestSuggestionsArrow,
.AutoSuggestSuggestionsArrow::before {
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: -1;
}

.AutoSuggestSuggestionsArrow::before {
  content: "";
  transform: rotate(45deg);
  background: var(--mm-black);
  top: 0;
  left: 0;
}

.AutoSuggestSuggestionsArrow::before {
  transform: translateX(0px) rotate(45deg);
  transform-origin: center;
  border: 1px solid var(--mm-black);
}

[data-popper-placement^="top"] > .AutoSuggestSuggestionsArrow {
  bottom: -5px;
}

[data-popper-placement^="top"] > .AutoSuggestSuggestionsArrow::before {
  border-bottom-color: var(--mm-white);
  border-right-color: var(--mm-white);
}

[data-popper-placement^="right"] > .AutoSuggestSuggestionsArrow {
  left: -5px;
}

[data-popper-placement^="right"] > .AutoSuggestSuggestionsArrow::before {
  border-bottom-color: var(--mm-white);
  border-left-color: var(--mm-white);
}

[data-popper-placement^="bottom"] > .AutoSuggestSuggestionsArrow {
  top: -5px;
}

[data-popper-placement^="bottom"] > .AutoSuggestSuggestionsArrow::before {
  border-top-color: var(--mm-white);
  border-left-color: var(--mm-white);
}

[data-popper-placement^="left"] > .AutoSuggestSuggestionsArrow {
  right: -5px;
}

[data-popper-placement^="left"] > .AutoSuggestSuggestionsArrow::before {
  border-top-color: var(--mm-white);
  border-right-color: var(--mm-white);
}

.AutoSuggestSuggestion {
  list-style: none;
  color: var(--mm-white);
  cursor: pointer;
  border-radius: var(--s1);
  padding: var(--s1);
  color: var(--mm-white);
}

.AutoSuggestSuggestion.--highlighted {
  background-color: hsl(var(--mm-blue-hue) 100% 85%);
  color: var(--mm-black);
}
