.Button {
  --bg-color: var(--mm-blue);
  appearance: none;
  -webkit-appearance: none;
  font-size: 1.25rem;
  font-family: system-ui;
  font-weight: 400;
  border-radius: var(--s2);
  outline: none;
  border: none;
  cursor: pointer;
}

.Button:disabled {
  cursor: default;
  opacity: 0.5;
}

.ButtonPrimary {
  background-color: var(--bg-color);
  padding: var(--s3) var(--s1);
  color: var(--mm-white);
  transition: background-color var(--mm-transition-duration) ease-in-out;
}

@media (hover: hover) {
  .ButtonPrimary:hover {
    background-color: var(--mm-pale-blue);
  }
}

.ButtonSecondary {
  background-color: transparent;
  border: 2px solid var(--bg-color);
  padding: var(--s1);
  color: var(--mm-black);
  transition: color var(--mm-transition-duration) ease-in-out,
    border-color var(--mm-transition-duration) ease-in-out;
}

@media (hover: hover) {
  .ButtonSecondary:hover {
    color: var(--mm-pale-blue);
    border-color: var(--mm-pale-blue);
  }
}

.ButtonTertiary {
  background-color: transparent;
  border: 2px solid transparent;
  padding: var(--s1);
  color: var(--mm-blue);
  transition: background-color var(--mm-transition-duration) ease-in-out;
}

@media (hover: hover) {
  .ButtonTertiary:hover {
    background-color: hsl(var(--mm-blue-hue), 20%, 75%);
  }
}

@media screen and (min-width: 48em) {
  .Button {
    min-width: 10rem;
    padding: var(--s2) var(--s4);
  }
}
