.CardStack {
  --card-height: 50vh;
  --height: 68vh;
  position: relative;
  width: 100vw;
  height: var(--height);
  margin: auto;
  margin-left: 50%;
  transform: translateX(-50vw);
  display: flex;
  justify-content: center;
  perspective: var(--height);
  padding-top: var(--s4);
  margin-top: calc(var(--s4) * -1);
  overflow: hidden;
}

.CardStack.--empty {
  place-items: center;
}

.CardStackItem {
  position: absolute;
  touch-action: pan-y;
  user-select: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.CardStackEmptyText {
  font-weight: bold;
  font-size: 1.3rem;
  opacity: 0;
  animation: fadeIn 150ms ease-in both;
}
