.CardStack {
  --rotX: -3deg;
  --y: -25px;
  --z: -40px;

  position: relative;
  perspective: calc(var(--vh) * 100);
  min-height: min(calc(80vmin * 1.5), calc(var(--vh) * 80));
}

.CardStack > .Card {
  z-index: 0;
  touch-action: manipulation;
  will-change: transform;
  opacity: 0;
  user-select: none;
  cursor: ew-resize;
}

.CardStack > .Card:nth-of-type(n + 2) {
  position: absolute;
  top: 0;
  left: 0;
}

.CardStack > .Card:nth-of-type(2) {
  z-index: -1;
}
.CardStack > .Card:nth-of-type(3) {
  z-index: -2;
}
.CardStack > .Card:nth-of-type(4) {
  z-index: -3;
}
.CardStack > .Card:nth-of-type(5) {
  z-index: -4;
}
