.CardStack {
  --card-height: min(calc(80vmin * 1.5), calc(var(--vh) * 75), 384px);
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  perspective: var(--card-height);
  overflow: hidden;
  padding-top: calc(15px * 2 + env(safe-area-inset-top));
  padding-bottom: calc(15px * 5);
}

.CardStack.--empty {
  place-items: center;
}

.CardStackItem {
  position: absolute;
  touch-action: pan-y;
  user-select: none;
}

.CardStackItem:last-of-type {
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.CardStackEmptyText {
  font-weight: bold;
  font-size: 1.3rem;
  opacity: 0;
  animation: fadeIn 150ms ease-in both;
}
