.FilterField {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 0.5rem;
  grid-template: 3rem 3rem 1fr / 1fr;
}

@media screen and (min-width: 48em) {
  .FilterField {
    grid-template: 1fr / 1fr 1fr 1fr;
  }
}
