.Matches {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MatchesList {
  display: grid;
  position: relative;
  grid-auto-flow: column;
  list-style: none;
  width: 100vw;
  grid-gap: var(--s4);
  overflow: auto;
  padding: var(--s4) 0 var(--s3) 10vw;
  scroll-snap-type: x mandatory;
}

@media screen and (min-width: 52em) {
  .MatchesList {
    --card-height: 50vh;
  }
}

.MatchesList_Item {
  scroll-snap-align: start;
  scroll-margin-left: 10vw;
  scroll-snap-margin-left: 10vw;
}

.MatchesList::after {
  content: "";
  width: calc(10vw - var(--s4));
  display: block;
}

.Matches_NoMatches {
  font-size: 1rem;
  color: #505062;
  max-width: 50vw;
  text-align: center;
  font-weight: bold;
}
