.RoomInfoBar {
  width: 100vw;
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  background-color: hsl(var(--mm-red-hue), 10%, 14%);
  font-family: system-ui;
  font-weight: 600;
  font-size: 0.9rem;
  color: hsl(var(--mm-red-hue), 5%, 90%);
  padding: var(--s2) var(--s3);
  box-shadow: -1px 3px 8px 1px rgba(33, 33, 33, 0.3);
}

.RoomInfoBar_Item {
  display: flex;
  align-content: center;
}

.RoomInfoBar_Item:first-of-type {
  justify-content: flex-start;
}

.RoomInfoBar_Item:last-of-type {
  justify-content: flex-end;
}

.RoomInfoBar_User {
  display: grid;
  grid-auto-flow: column;
  gap: var(--s1);
  align-items: center;
  color: var(--mm-white);
}

.RoomInfoBar_User_UserName {
  margin-left: var(--s1);
  letter-spacing: 0;
}

.RoomInfoBar_ShareRoomButton {
  background: transparent;
  border: none;
  color: currentColor;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 0;
}
.RoomInfoBar_ShareRoomButton .ShareIcon {
  font-size: 1.5rem;
  margin-left: var(--s2);
}
.RoomInfoBar_MatchCount {
  position: relative;
  margin: auto;
}
.RoomInfoBar_MatchCount_Count {
  position: absolute;
  width: 3.5rem;
  background-color: var(--mm-light-red);
  color: var(--mm-white);
  top: -125%;
  border-radius: var(--s3);
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
  font-size: 1.2rem;
}
.RoomInfoBar_MatchCount_Title {
  position: relative;
  top: var(--s2);
}
@media screen and (min-width: 52em) {
  .RoomInfoBar {
    width: 52em;
    border-radius: 11px;
  }
  .RoomInfoBar_MatchCount_Count {
    width: 4rem;
    font-size: 1.4rem;
    top: -150%;
  }
}
