.Screen {
  /* prettier-ignore */
  padding:
    calc(env(safe-area-inset-top, 0px) + var(--s5))
    calc(env(safe-area-inset-right, 0px) + var(--s5))
    calc(env(safe-area-inset-bottom, 0px) + var(--s5))
    calc(env(safe-area-inset-left, 0px) + var(--s5));
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(var(--vh, 1vh) * 100);
}
