.Spinner {
  margin: auto;
  align-self: center;
  position: relative;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

.Spinner,
.Spinner::after {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: hsl(var(--mm-blue-hue) 50% 50% / 0.25);
}

.Spinner::after {
  animation: 3s linear 0s infinite alternate scale;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
