:root {
  --switchColor: var(--colorBrand1);
  --switchDisabledColor: var(--colorBrand4);
  --switchHighlight: var(--colorPrimary1);
  --switchEyeColor: var(--colorText4);
}

.switch {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  width: rem(40px);
  height: 1.5rem;
  background-color: var(--switchBackgroundColor, var(--switchColor));
  border: rem(1px) solid var(--switchBorderColor, var(--switchColor));
  border-radius: rem(12px);
}

.switch::after {
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  position: relative;
  left: rem(4px);
  background-color: var(--switchEyeColor);
  transition: left ease-out 100ms, background-color ease-in-out 100ms;
}

.switch:disabled {
  --switchBackgroundColor: var(--colorBrand4);
  --switchEyeColor: var(--colorBrand3);
  --switchHighlight: var(--colorPrimary3);
}

.switch:not(:disabled):hover {
  --switchBorderColor: var(--switchHighlight);

  cursor: pointer;
}

.switch:checked::after {
  left: rem(18px);

  --switchEyeColor: var(--switchHighlight);
}
