<!DOCTYPE html>
<html lang="${LANG}">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="initial-scale=1, width=device-width, viewport-fit=cover, user-scalable=no"
    />
    <meta name="theme-color" content="#e64747" />
    <meta name="apple-mobile-web-app-title" content="MovieMatch" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="msapplication-TileColor" content="#e64747" />
    <meta
      name="msapplication-TileImage"
      content="${config.rootPath}/icons/ms-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="${config.rootPath}/icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="${config.rootPath}/icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="${config.rootPath}/icons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="${config.rootPath}/icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="${config.rootPath}/icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="${config.rootPath}/icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="${config.rootPath}/icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="${config.rootPath}/icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="${config.rootPath}/icons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="${config.rootPath}/icons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="${config.rootPath}/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="${config.rootPath}/icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="${config.rootPath}/icons/favicon-16x16.png"
    />
    <title translate="no">MovieMatch</title>
    <link rel="stylesheet" href="main.css" />
    <script src="main.js" type="module" defer></script>
  </head>
  <body
    style="
      --i18n-no-matches: '${MATCHES_SECTION_NO_MATCHES}';
      --i18n-loading: '${RATE_SECTION_LOADING}';
      --i18n-exhausted-cards: '${RATE_SECTION_EXHAUSTED_CARDS}';
    "
    data-i18n-list-conjunction="${LIST_CONJUNCTION}"
    data-i18n-match-likers-template="${MATCHES_SECTION_CARD_LIKERS}"
    data-base-path="${config.rootPath}"
  >
    <div id="app"></div>
  </body>
</html>
