.avatar {
  pointer-events: none;
}

.avatarCircle {
  --size: 2rem;

  stroke: hsl(var(--hue) 50% 70%);
  stroke-width: clamp(2px, calc(var(--size) * 0.033333333), 0.5rem);
  fill: hsl(var(--hue) 40% 40%);
}

.progress {
  --circumference: calc(2 * 3.1415 * 15);
  stroke: hsl(var(--hue) 70% 80%);
  stroke-width: 2px;
  stroke-dasharray: var(--progress), var(--circumference);
  stroke-linecap: round;
}

.letter {
  font-family: sans-serif;
  font-size: calc(var(--size) / 2);
  font-weight: bold;
  fill: hsl(var(--hue) 50% 90%);
  user-select: none;
}
