.button {
  --bg-color: var(--mm-blue);
  --bg-highlight-color: var(--mm-pale-blue);

  appearance: none;
  -webkit-appearance: none;
  font-size: 1.25rem;
  font-family: system-ui;
  font-weight: 400;
  border-radius: var(--s2);
  outline: none;
  border: none;
  cursor: pointer;
}

.button:disabled {
  cursor: default;
  opacity: 0.5;
}

@media screen and (min-width: 48em) {
  .button {
    min-width: 10rem;
    padding: var(--s2) var(--s4);
  }
}

.primaryButton {
  composes: button;
  background-color: var(--bg-color);
  padding: var(--s3) var(--s1);
  color: var(--mm-white);
  transition: background-color var(--mm-transition-duration) ease-in-out;
}

.primaryButton:focus {
  background-color: var(--bg-highlight-color);
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

@media (hover: hover) {
  .primaryButton:hover {
    background-color: var(--bg-highlight-color);
  }
}

.secondaryButton {
  composes: button;
  background-color: transparent;
  border: 2px solid var(--bg-color);
  padding: var(--s1);
  color: var(--mm-black);
  transition: color var(--mm-transition-duration) ease-in-out,
    border-color var(--mm-transition-duration) ease-in-out;
}

.secondaryButton:focus {
  color: var(--bg-highlight-color);
  border-color: var(--bg-highlight-color);
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

@media (hover: hover) {
  .secondaryButton:hover {
    color: var(--bg-highlight-color);
    border-color: var(--bg-highlight-color);
  }
}

.tertiaryButton {
  composes: button;
  background-color: transparent;
  border: 2px solid transparent;
  padding: var(--s1);
  color: var(--mm-blue);
  transition: background-color var(--mm-transition-duration) ease-in-out;
}

.tertiaryButton:focus {
  background-color: hsl(var(--mm-blue-hue), 20%, 75%);
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

@media (hover: hover) {
  .tertiaryButton:hover {
    background-color: hsl(var(--mm-blue-hue), 20%, 75%);
  }
}
