.menuButton {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  color: var(--mm-white);
  border: none;
  cursor: pointer;
  width: 100%;
  padding: var(--s2);
  white-space: nowrap;
  text-align: left;
  padding: var(--s2) var(--s3);
}

.menuButton:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (hover: hover) {
  .menuButton:hover {
    background: var(--mm-pale-blue);
    color: var(--mm-white);
  }
}
