.popover {
  display: flex;
  flex-direction: column;
  background: var(--mm-black);
  position: relative;
  transform: translate(0, -80%);
  padding: var(--s2);
  border-radius: var(--s2);
  overflow: hidden;
  border: 1px solid var(--mm-white);
  box-shadow: -1px 3px 8px 1px rgba(33, 33, 33, 0.3);
  overflow: visible;
  z-index: var(--z-near);
  gap: var(--s1);
}

@media screen and (min-width: 42em) {
  .popover {
    transform: translate(-30%, -80%);
  }
}

.popoverArrow,
.popoverArrow::before {
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: -1;
}

.popoverArrow::before {
  content: "";
  transform: rotate(45deg);
  background: var(--mm-black);
  top: 0;
  left: 0;
}

.popoverArrow::before {
  transform: translateX(0px) rotate(45deg);
  transform-origin: center;
  border: 1px solid var(--mm-black);
}

[data-popper-placement^="top"] > .popoverArrow {
  bottom: -5px;
}

[data-popper-placement^="top"] > .popoverArrow::before {
  border-bottom-color: var(--mm-white);
  border-right-color: var(--mm-white);
}

[data-popper-placement^="right"] > .popoverArrow {
  left: -5px;
}

[data-popper-placement^="right"] > .popoverArrow::before {
  border-bottom-color: var(--mm-white);
  border-left-color: var(--mm-white);
}

[data-popper-placement^="bottom"] > .popoverArrow {
  top: -5px;
}

[data-popper-placement^="bottom"] > .popoverArrow::before {
  border-top-color: var(--mm-white);
  border-left-color: var(--mm-white);
}

[data-popper-placement^="left"] > .popoverArrow {
  right: -5px;
}

[data-popper-placement^="left"] > .popoverArrow::before {
  border-top-color: var(--mm-white);
  border-right-color: var(--mm-white);
}
