:root {
  --scBackgroundColor: hsl(240deg 25% 75%);
  --scActiveColor: var(--mm-black);
  --scTextColor: var(--mm-black);
  --scBorderRadius: 0.25rem;
  --scBorderWidth: 3px;
  --scItemFontSize: 0.875rem;
  --scItemPadding: 2px 12px;
}

.controls {
  display: flex;
  place-content: center;
  padding: 0;
  border: none;
}

.list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-auto-rows: minmax(0, 1fr);
  padding: 0;
  margin: 0;
}

.item {
  background-color: var(--scBackgroundColor);
  border: var(--scBorderWidth) solid transparent;
  text-align: center;
  list-style: none;
}

.option {
  position: relative;
  font-size: var(--scItemFontSize);
  font-weight: inherit;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
  display: inline-block;
  width: 100%;
  touch-action: manipulation;
  pointer-events: all;
}

.item:last-child {
  border-top-right-radius: var(--scBorderRadius);
  border-bottom-right-radius: var(--scBorderRadius);
}

.item:first-child {
  border-top-left-radius: var(--scBorderRadius);
  border-bottom-left-radius: var(--scBorderRadius);
}

.item:not(:first-child) {
  margin-left: 1px;
}

@media (hover: hover) {
  .item:hover {
    border-color: var(--scActiveColor);
  }
}

.itemPadding {
  padding: var(--s1);
}

.itemSelected {
  composes: item;
  background-color: var(--mm-pale-blue);
  color: var(--mm-white);
  border-color: var(--mm-pale-blue);
  font-weight: 500;
}
