.textInput {
  width: 100%;
  height: 3rem;
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid var(--mm-black);
  background-color: transparent;
  border-radius: var(--s1);
  padding: var(--s2);
  box-shadow: none;
}

.textInput:focus {
  border: 2px solid var(--mm-blue);
}

.invalid {
  border: 2px solid var(--mm-dark-red);
}
