.screenLayout {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(var(--vh) * 100);
  /* prettier-ignore */
  padding:
    max(env(safe-area-inset-top), var(--s9))
    max(env(safe-area-inset-right), var(--s5))
    max(env(safe-area-inset-bottom), var(--s3))
    max(env(safe-area-inset-left), var(--s5));
}
