.matches {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  --card-height: 28rem;
  scroll-snap-type: x mandatory;
  display: flex;
  position: relative;
  list-style: none;
  width: 100vw;
  gap: var(--s4);
  overflow: auto;
  padding: var(--s4) 0 var(--s3) 10vw;
}

.list::after {
  content: "";
  flex: 0 0 calc(10vw - var(--s4));
}

@media screen and (min-width: 64em) {
  .matches {
    place-self: center;
  }

  .list {
    --card-height: 25rem;
    max-width: 75rem;
    scroll-snap-type: none;
    display: grid;
    padding: var(--s4);
    grid-template-columns: repeat(auto-fill, calc(var(--card-height) * 0.6666));
    place-content: center;
  }
}

.item {
  scroll-snap-align: start;
  scroll-margin-left: 10vw;
  scroll-snap-margin-left: 10vw;
}

.noMatchesText {
  font-size: 1rem;
  color: #505062;
  max-width: 80vw;
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 52em) {
  .noMatchesText {
    max-width: 50vw;
  }
}
