.matches {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  position: relative;
  list-style: none;
  width: 100vw;
  gap: var(--s4);
  overflow: auto;
  padding: var(--s4) 0 var(--s3) 10vw;
}

.horizontalList {
  composes: list;
  scroll-snap-type: x mandatory;
}

.gridList {
  composes: list;
  flex-wrap: wrap;
}

.list::after {
  content: "";
  flex: 0 0 calc(10vw - var(--s4));
}

@media screen and (min-width: 52em) {
  .list {
    --card-height: max(50vh, 25rem);
  }
}

.item {
  scroll-snap-align: start;
  scroll-margin-left: 10vw;
  scroll-snap-margin-left: 10vw;
}

.noMatchesText {
  font-size: 1rem;
  color: #505062;
  max-width: 80vw;
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 52em) {
  .noMatchesText {
    max-width: 50vw;
  }
}
