.card {
  --height: var(--card-height, min(calc(80vmin * 1.5), calc(var(--vh) * 80)));

  display: block;
  background-color: var(--mm-black);
  background-image: linear-gradient(
    to bottom,
    var(--mm-plex-color) 0%,
    var(--mm-black) 100%
  );
  background-size: cover;
  width: calc(var(--height) * 0.6666);
  height: var(--height);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: -1px 3px 8px 1px rgba(33, 33, 33, 0.3);
  position: relative;
  border: 2px solid var(--mm-line-color);
  transition: border-color 150ms ease-in-out;
  color: var(--mm-white);
}

.linkCard {
  composes: card;
  cursor: pointer;
}

@media (hover: hover) {
  .linkCard:hover {
    border: 2px solid var(--mm-blue);
  }
}

@media screen and (min-width: 48em) {
  .card {
    --height: var(--card-height, calc(var(--vh) * 50));
  }
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.moreInfoButton {
  border: none;
  outline: none;
  font-size: 2.25rem;
  padding: 0.7rem;
  position: absolute;
  bottom: 0;
  right: 0;
  color: currentColor;
  background: rgba(0, 0, 0, 0.3);
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  cursor: pointer;
  margin: 0;
  transition: color 150ms ease-in-out;
}

@media (hover: hover) {
  .moreInfoButton:hover {
    color: hsl(var(--mm-blue-hue) 50% 70%);
  }
}

.titleContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 33%,
    rgba(0, 0, 0, 0.7) 100%
  );
  padding: var(--s3);
  padding-right: 4.3rem;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  cursor: ew-resize;
}

.title {
  font-family: system-ui;
  font-weight: bold;
  font-size: 1.2rem;
  font-size: clamp(0.8rem, 5vmin, 1rem);
  letter-spacing: 0;
}

.moreInfo {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: hsl(var(--mm-blue-hue) 0% 20% / 0.7);
  padding: var(--s3);
  backdrop-filter: blur(30px) saturate(1.5);
  -webkit-backdrop-filter: blur(30px) saturate(1.5);
  border-radius: 0.5rem;
  color: var(--mm-white);
  overflow: auto;
  display: flex;
  flex-direction: column;
  touch-action: pan-y;
}

.moreInfoTitle,
.moreInfoDescription {
  font-family: system-ui;
}

.moreInfoTitle {
  font-size: 1.2rem;
  font-size: clamp(1.1rem, 6vmin, 1.3rem);
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: var(--s3);
}

.moreInfoDescription {
  overflow: auto;
  padding-right: 2rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  font-size: clamp(0.8rem, 4vmin, 1rem);
}

.moreInfoMetadata {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(var(--s1) * -1);
  margin-bottom: var(--s2);
}

.moreInfoMetadata > * {
  margin-bottom: var(--s1);
  margin-right: var(--s1);
}
