.user {
  display: grid;
  grid-auto-flow: column;
  gap: var(--s1);
  align-items: center;
  color: var(--mm-white);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.userName {
  display: none;
}

@media screen and (min-width: 26.5em) {
  .userName {
    display: block;
    margin-left: var(--s1);
    letter-spacing: 0;
    user-select: none;
    -webkit-user-select: none;
  }
}

.usersList {
  display: flex;
  flex-direction: column;
  padding: var(--s1) var(--s3) var(--s1) 0;
  gap: var(--s2);
}