.RateScreen {
  width: 100vw;
  padding-top: var(--s4);
  padding-bottom: var(--s2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
